{
  "swagger": "2.0",
  "info": {
    "description": "This is a pre-release documentation of the furture Hercules.report API, for comments. This documentation is generated from a Swagger (Open API) file.",
    "version": "0.0.1",
    "title": "Hercules.report API",
    "termsOfService": "https://www.hercules.report/doc",
    "contact": {
      "email": "contact@hercules.report"
    }
  },
  "host": "api.hercules.report",
  "basePath": "/v1",
  "tags": [
    {
      "name": "products",
      "description": "Information about products and monitoring information from stores"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/products": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Retrieve all products",
        "description": "Returns information about all products, including the monitoring information from active stores",
        "operationId": "get_products",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Defaults to 1. Results are paginated, and the information about the number of pages and the number of items per page will be available in the response header.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Product" }
            }
          }
        }
      }
    },
    "/products/{identifier}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Find a specific product",
        "description": "Returns the product information and monitored data from active stores",
        "operationId": "get_product",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "One of the identifier (ISBN or EAN) associated with the product",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "400": {
            "description": "Invalid identifier supplied"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "description": "The API key is provided in your organisation profile.",
      "in": "query"
    }
  },
  "security": [
    "api_key": []
  ],
  "definitions": {
    "Product": {
      "type": "object",
      "properties": {
        "identifiers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "identifier_type": {
                "type": "string",
                "description": "The type of identifier.",
                "enum": [default, ebook, alt_ebook, paper, alt_paper]
                },
              "value": {
                "type": "string",
                "description": "The identifier (EAN, ISBN) itself.",
                "example": "9781169289864"
                }
              }
            }
          },
        "name": {
          "type": "string",
          "description": "The name / title of the book.",
          "example": "The Mysterious Affair at Styles"
        },
        "settings": {
          "type": "object",
          "properties": {
            "monitoring_frequency": {
              "type": "string",
              "description": "Product monitoring frequency",
              "enum": [daily, weekly, monthly, never]
            }
          }
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "store": {
                "type": "string",
                "description": "Store code, including 2-letter country code.",
                "example": "apple_fr"
              },
              "monitoring_time": {
                "type": "string",
                "description": "The date and time on which the store was monitored for that product. Format is ISO-8601.",
                "example": "2017-06-15T16:41:22-04:00"
              },
              "status": {
                "type": "string",
                "description": "The product status on that store.",
                "enum": [found, not_found, unknown]
              },
              "prices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "format": {
                      "type": "string",
                      "description": "The format to which the price applies",
                      "enum": [paperback, hardcover, ebook]
                    },
                    "amount": {
                      "type": "number",
                      "description": "Price amount",
                      "example": "9.99"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Price 3-letter currency code",
                      "example": "EUR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Hercules.report",
    "url": "https://www.hercules.report"
  }
}
